<h2 class="text-center">Device List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Device Name</th>
            <th>Device Status</th>
            <th>Last Active</th>
            <th>Added At</th>
            <th>Device Id</th>
            <th>User Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deviceTransaction of deviceTransactions">
            <td>{{deviceTransaction.deviceName}}</td>
            <td>{{deviceTransaction.deviceStatus}}</td>
            <td *ngIf="deviceTransaction.modifiedAt; then thenBlock else elseBlock"></td>
            <ng-template #thenBlock><td>{{deviceTransaction.modifiedAt}}</td></ng-template>
            <ng-template #elseBlock><td>NA</td></ng-template>
            <td>{{deviceTransaction.createdAt}}</td>
            <td>{{deviceTransaction.deviceId}}</td>
            <td>{{deviceTransaction.userId}}</td>
        </tr>
    </tbody>
</table>

