<div class="col-md-6 offset-md-3">
  <h2>Add New Device</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label class="form-label">Device Name</label>
      <input type="text" class="form-control" id="deviceName" [(ngModel)]="deviceDetail.deviceName" name="deviceName" />
    </div>

    <button class="btn btn-success" type="submit">Add Device</button>
  </form>
</div>
