<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="devices" routerLinkActive="active" class="nav-link">Device List</a>
        </li>
        <li class="nav-item">
            <a routerLink="add-device" routerLinkActive="active" class="nav-link">Add Device</a>
        </li>
        <li class="nav-item">
            <a routerLink="logout" routerLinkActive="active" class="nav-link">Logout</a>
        </li>

    </ul>

</nav>

<h1 class="text-center">Home Automation</h1>
<div class="container">
<router-outlet></router-outlet>
</div>